<ion-view view-title="{{card.card_name}}">
  <ion-content class="padding">
    <!-- <img ng-src="{{contact.face}}" style="width: 64px; height: 64px"> -->
   <!--
      <div class="list card">
      <div class="item">
         <h2> {{contact.name}} </h2>
          <p>    </p>
         <p> Phone: {{contact.Number}} </p>
         <p> email: {{contact.email}} </p>
         <p> facebook: {{contact.facebook}} </p>
      </div>
    </div>
 -->    
  <div class="list card">

  <div class="item item-text-wrap item-avatar">
    <!--<img src="mcfly.jpg">-->
    <h2>Card: {{card.card_name}}</h2>
    <p> {{card.created_at}}</p>
    <p> Only the shared information will be desplayed </p> 
  </div>

  <div class="last">

  <!--
  <a class="item item-icon-left" href="#">
    <span class="item-note">
    <p> {{card.first_name}} {{card.last_name}} </p>
     </span>
  </a>
  -->

  <a class="item item-icon-left" href="#">
    First name
      <span class="item-text-wrap item-note">
      {{card.first_name}} 
      </span>
  </a>

  <a class="item item-icon-left" href="#">
    last name
      <span class="item-text-wrap item-note">
      {{card.last_name}} 
       </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Mail
      <span class="item-text-wrap item-note">
      {{card.email}} 
       </span>
  </a>

  <a class="item item-icon-left item-icon-right">
    <i class="icon ion-ios-telephone"></i>
      Phone
     <span class="item-text-wrap item-note">
         {{card.phone_nbr}}
     </span>   
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-social-facebook"></i>
      Facebook
      <span class="item-text-wrap item-note">
        {{card.facebook_link}}
       </span>  
  </a>
      
  <a class="item item-icon-left" href="#">
    <i class="icon ion-social-linkedin"></i>
      Linkedin
      <span class="item-text-wrap item-note">
        {{card.linkedin_link}}
       </span>  
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
      Mail
      <span class="item-text-wrap item-note">
      {{card.email}} 
       </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-pin"></i>
      Adress
     <span class="item-text-wrap item-note" >
         {{card.street}},{{card.postal_code}},{{card.city}},{{card.country}}
       </span> 
  </a>

  <a class="item item-icon-left" href="#">
    Description
      <span class="item-text-wrap item-note">
      {{card.description}} 
       </span>
  </a>
      
</div>

  </div>
      
  </ion-content>
</ion-view>