<ion-view view-title="{{card.card_name}}">
  <ion-content class="padding">
    <!-- <img ng-src="{{contact.face}}" style="width: 64px; height: 64px"> -->
   <!--
      <div class="list card">
      <div class="item">
         <h2> {{contact.name}} </h2>
          <p>    </p>
         <p> Phone: {{contact.Number}} </p>
         <p> email: {{contact.email}} </p>
         <p> facebook: {{contact.facebook}} </p>
      </div>
    </div>
 -->    
  <div class="list card">

  <div class="item item-avatar">
    <!--<img src="mcfly.jpg">-->
    <h2>{{card.first_name}} {{card.last_name}}</h2>
    <p> {{card.created_at}}</p> 
  </div>

  </div>
      
  </ion-content>
</ion-view>
