<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Create a new card</h1>
      <button class="button button-secondary" ng-click="closeModalcreatecard()">Cancel</button>
    </ion-header-bar>

    <ion-content>
      <label class="item item-input">
  		<span class="input-label">Login (*)</span>
  		<input type="text" ng-model="login">
	  </label>

	  <label class="item item-input">
    	<span class="input-label">Password (*)</span>
    	<input type="text" ng-model="password">
  	 </label>

    <label class="item item-input">
      <span class="input-label">Cardname (*)</span>
      <input type="text" ng-model="card_name">
    </label>

    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input type="text" ng-model="first_name">
    </label>

    <label class="item item-input">
      <span class="input-label">Last Name</span>
      <input type="text" ng-model="last_name">
    </label>

    <label class="item item-input">
      <span class="input-label">Phone Number</span>
      <input type="number" ng-model="phone_nbr">
    </label>

    <label class="item item-input">
      <span class="input-label">Facebook Link</span>
      <input type="text" ng-model="facebook_link">
    </label>

    <label class="item item-input">
      <span class="input-label">Linkedin Link</span>
      <input type="text" ng-model="linkedin_link">
    </label>

    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="email">
    </label>

    <label class="item item-input">
      <span class="input-label">Street</span>
      <input type="text" ng-model="street">
    </label>

    <label class="item item-input">
      <span class="input-label">City</span>
      <input type="text" ng-model="city">
    </label>

    <label class="item item-input">
      <span class="input-label">Postal Code</span>
      <input type="text" ng-model="postal_code">
    </label>

    <label class="item item-input">
      <span class="input-label">Country</span>
      <input type="text" ng-model="country">
    </label>

    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model="description">
    </label>

    <label class="item item-input">
      <span class="input-label">picture URL</span>
      <input type="text" ng-model="picure_url">
    </label>

    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="email">
    </label>

  	  <button class="button button-block button-positive" ng-click="createcard(login, password, card_name, first_name, last_name, phone_nbr, facebook_link, linkedin_link, email, street, city, postal_code, country, description, picture_url)" ng-disabled="!login || !password || !card_name">
  		Create
	  </button>
    </ion-content>
 </ion-modal-view>