<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Link Us</h1>
      <button class="button button-secondary" ng-click="closeModallinkus()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <label class="item item-input">
  		<span class="input-label">Login</span>
  		<input type="text" ng-model="login">
	  </label>
	  <label class="item item-input">
    	<span class="input-label">User login you want to make a link with:</span>
    	<input type="text" ng-model="login_new_contact">
  	  </label>
  	  <button class="button button-block button-positive" ng-click="createlink(login, login_new_contact)" ng-disabled="!login || !login_new_contact">
  		Confirm
	  </button>
    </ion-content>
 </ion-modal-view>