<ion-view view-title="Contacts">
     
   <ion-header-bar class="bar bar-subheader item-input-inset"> 
      <label class="item-input-wrapper search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search..." ng-model="searchValue" ng-keyup="val=searchValue" />     
      </label>
       <p> contact = {{contacts.user_id}}</p>
 </ion-header-bar>
    <script>
                    
    
    </script>
            
            
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts | filter:val" type="item-text-wrap" href="#/tab/contacts/{{contact.links.card.id}}">
        <img ng-src="{{contact.face}}">
        <h2>{{contact.user_id}}</h2>
        <p> {{contact.MeetingPlace}} </p>
        <p> {{contact.MeetingTime}} </p>
        
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
