<ion-view view-title="Home" class="dashboard">
  <ion-content class="padding">

    <div ng-controller="StateCtrl" ng-show="!isLogged">

    	<button ng-controller="LoginCtrl" class="button button-block button-positive" ng-click="openModallogin()">
        Login
      </button>

    	<button ng-controller="CreateCtrl" class="button button-block button-positive" ng-click="openModalcreateuser()">
		    Create account
		  </button>

	  </div>

    <img src="img/logo.png" class="logo" />

    <div ng-controller="StateCtrl" ng-show="isLogged">
      <button class="button button-block button-positive">
        Make the Link !
      </button>
    </div>
  </ion-content>
</ion-view>
